### Task 1

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host = "hostname",
    user = "abed",
    password = "password",
    database = "Company_details"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f8ce4092910>

In [3]:
# takes the database object returned after connecting to database
def fetchQueryResult(database):
    mycursor = database.cursor()
    # executing query upon database
    mycursor.execute("SELECT sum(`Department`.`TOTAL_EMPLOYEES`) FROM `Department` INNER JOIN `Company` on `Department`.`COMPANY_CODE` = `Company`.`CODE` WHERE `Company`.`COUNTRY`='India'")

    # fetching the result of the query
    mycursor = mycursor.fetchall()
    for x in mycursor:
        result = x

    # returning the result
    result = int(result[0])
    return result

#### Testing the function

In [4]:
num_of_employees = fetchQueryResult(mydb)

In [5]:
print(num_of_employees)

220

### Task 2

In [6]:
# Class Vehicle with color, price, max_speed as instance variables
class Vehicle:
    def __init__(self):
        self.__color = "red"    # private variable of Vehicle class
        self.__price = 500000   # private variable of Vehicle class
        self.__max_speed = 200  # private variable of Vehicle class
    
    # getters for the instance variables 
    def getColor(self):
        return self.__color
    
    def getPrice(self):
        return self.__price
    
    def getMaxSpeed(self):
        return self.__max_speed

In [7]:
# Child class Car created 
class Car(Vehicle):
    # Init takes only one parameter as mentioned in question
    def __init__(self,num_of_tires):
        self.num_of_tires = num_of_tires
        # calling the __init__ method of parent class
        super().__init__()
    
    # Instance method to print information of car
    def printCar(self):
        color = super().getColor()
        price = super().getPrice()
        max_speed = super().getMaxSpeed()
        print("A",color,"colored car with a maximum speed of",max_speed,"km/h is priced at",price,"with",self.num_of_tires,"tires")

#### Testing the function

In [8]:
# passing only the number of wheels 
# other parameters can be taken from user also

honda = Car(4)

In [9]:
honda.printCar()

A red colored car with a maximum speed of 200 km/h is priced at 500000 with 4 tires

### Task 3

In [10]:
import pandas as pd

In [11]:
s = pd.Series(['05Sep2009','13Sep2011','21Sep2010'])

In [12]:
type(s)

pandas.core.series.Series

In [13]:
# this function take the dataframe and converts in into the required format
def changeDateTime(input_df,format="%d%b%Y"):
    # fetches the date column of the input_date
    df = input_df['dates']
    # changing the format of the date column
    df =  pd.to_datetime(df,format="%d%b%Y")
    # df is now pandas series so converted into pandas dataframe
    df = df.to_frame()
    return df

#### Testing the function

In [14]:
data_dict = {
    "dates" : ['05Sep2009','13Sep2011','21Sep2010']
}

In [15]:
df = pd.DataFrame.from_dict(data_dict)

In [16]:
df.head()

       dates
0  05Sep2009
1  13Sep2011
2  21Sep2010

In [17]:
df = changeDateTime(df)

In [18]:
df

       dates
0 2009-09-05
1 2011-09-13
2 2010-09-21